<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <link rel="stylesheet" href="/css/master.css">
    <meta charset="utf-8">
    <title>File Uploader</title>
  </head>
  <body>
    <h1>Hello</h1>
    <p>Upload a file</p>
    <form action="/" method="post" enctype="multipart/form-data">
      <p>
        <input type="text" name="title" placeholder="Image Title">
      </p>
      <p>
        <input type="file" name="uploadedFile">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
    <img src="/images/c9263ebfbe677938970a9d93dd4fd7ec" alt="">
  </body>

</html>
